<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.terrymoreii.phishradio" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowsActivity"
            android:label="@string/title_activity_shows"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.terrymoreii.phishradio.MyActivity" />
        </activity>
        <activity
            android:name=".ShowDetailsActivity"
            android:label="@string/title_activity_show_details"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.terrymoreii.phishradio.ShowsActivity" />
        </activity>

        <service
            android:name=".ShowPlayer"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".NowPlayingActivity"
            android:label="@string/title_activity_now_playing" >
        </activity>

        <service
            android:name=".service.ShowDetailsService"
            android:exported="false" >
        </service>
    </application>

</manifest>
